:root {
  --button-color: #0f2f75;
  --font-size: 14px;
  --color-hover: #36a8df;
  --footer-color: #f5f6fa;
  --article-hover: #f5f5f5;
  --delete-manga: #d6d6d6;
  --delete-button: #b70000;
  --delete-button-hover: #ff0000;
  --filter-form-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0;
  min-height: 500px;
}

main > header {
  margin-top: 10px;
}

/*img logo*/
body header img {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

/*logo*/

body nav ul li {
  cursor: pointer;
  transition: transform 0.2s ease;
}

body nav ul li:hover {
  transform: scale(1.1);
}

body main section h1 {
  text-align: center;
  text-shadow: 2px 2px 2px #35a9df;
  margin: 2%;
}

body > main > section > ul > li {
  display: inline-block;
  width: 30%;
}

body main section li article {
  max-height: 40%;
  width: 100%;
}

body main section article h2 {
  text-align: center;
  margin: 2%;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

body main form {
  height: 100%;
  padding-left: 0;
  margin: 20px 10%;
  width: 80%;
  text-align: center;
  font-size: 16px;
}

body main form h1 {
  font-weight: bolder;
  font-size: 40px;
  margin: 20px 0;
}

body > main > form > ul > li > label {
  text-align: left;
}

body > main > form > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

body > main > form > ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

body > main > form > ul > li > label {
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

body > main > form > ul > li > input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
  background-color: #f4f8fb;
  border: 1px solid #007bff;
  max-width: fit-content;
}

form input:focus {
  border-color: #0056b3;
  outline: none;
  background-color: #eaf4ff;
}

/*disable article*/
body main section input[type="button"]:disabled,
body main section article input[type="button"]:disabled:hover {
  background-color: #797979;
  cursor: auto;
}

/*end disable article*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*footer*/
body main {
  text-align: center;
  width: 100%;
  margin: 0;
}

body footer {
  background-color: var(--footer-color);
  padding: 10px;
}

body footer p {
  display: flex;
  justify-content: center;
  margin: 0;
}

body footer img {
  width: 5%;
}

/*end footer*/

body main section img {
  width: 100%;
}

body main section li {
  /*margin-bottom: 20px;*/
  margin-right: 2%;
  display: flex;
}

body main section {
  text-align: center;
  margin-bottom: 5%;
}

body main section article {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0% 10px 10px 0%;
  width: 30%;
}

body nav img {
  width: 5%;
  margin-bottom: 10%;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 5px;
}

body nav {
  text-align: center;
}

body nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

body main ul {
  list-style-type: none;
}

body main article img {
  width: 100%;
}

/*modificare con dark mode */
body main ul li article:hover {
  background-color: var(--article-hover);
}

body nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* Rimuovi i punti elenco */
}

body nav ul li {
  margin: 0 5px;
}

body nav ul li a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  /* Rimuove la sottolineatura */
  font-size: 17px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10%;
}

body nav ul li a:hover {
  background-color: var(--color-hover);
  color: black;
}

/*navbar*/
body nav ul li button:hover {
  background-color: var(--color-hover);
  color: black;
}

body nav ul {
  display: flex;
  flex-wrap: wrap;
  /* Permette alla lista di andare su più righe */
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body nav ul li {
  margin: 5px;
}

body nav ul li a,
body nav ul li button {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 0;
  background-color: var(--button-color);
  text-decoration: none;
  /* Rimuove la sottolineatura */
  border-radius: 15px;
}

/*end navbar*/

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Sfondo semi-trasparente */
  display: none;
  /* Nasconde la sovraimpressione inizialmente */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.filter-form {
  background: var(--filter-form-color);
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 40%;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  /* Scroll verticale se il contenuto supera l'altezza */
  margin-right: auto;
  /* Spinge la form a sinistra */
  margin-left: 0;
  /* Rimuove il margine sinistro */
  text-align: left;
  padding-left: 2%;
  overflow-x:auto;
  text-overflow: ellipsis;
}

.filter-form ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}


.dropdown {
  display: inline-flex;
}

.form-check-input {
  background-color: white;
}

/*button*/
.button {
  font-family: "Arial", Courier, monospace;
  background-color: var(--button-color);
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  font-size: var(--font-size);
  margin: 2% 1px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  max-width: 100%;
  box-sizing: border-box;
}

.button:hover,
body main footer a:hover {
  background-color: var(--color-hover);
}

.button-manga {
  font-family: "Arial", Courier, monospace;
  background-color: var(--delete-manga);
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.button-manga:hover {
  background-color: var(--delete-button-hover);
}

.button-manga-quantity {
  display: inline;
  text-decoration: none;
}

.button-manga-quantity:hover {
  background-color: var(--button-color);
}

.confirm-button {
  text-decoration: none;
  font-family: "Arial", Courier, monospace;
  background-color: #65c676;
  border: none;
  color: white;
  padding: 6px 5%;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2% 1px;
  cursor: pointer;
  border-radius: 20px;
}

.confirm-button:hover {
  background-color: #02720f;
}

.red-button {
  text-decoration: none;
  font-family: "Arial", Courier, monospace;
  background-color: var(--delete-button);
  border: none;
  color: white;
  padding: 6px 5%;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2% 1px;
  cursor: pointer;
  border-radius: 20px;
}

.red-button:hover {
  background-color: var(--delete-button-hover);
}

.profile-button {
  font-family: "Arial", Courier, monospace;
  background-color: var(--button-color);
  color: white;
  padding: 6px 12px;
  text-align: center;
  font-size: var(--font-size);
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  min-width: 150px;
  display: inline-block;
  border: none;
}

/*end button*/

.button-inline {
  display: inline-block;
}

.manga-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  background-color: var(--filter-form-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.img-manga {
  width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.gestisci-prodotto ul li input[type="text"],
.gestisci-prodotto ul li input[type="number"],
.gestisci-prodotto ul li input[type="date"],
.gestisci-prodotto ul li textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--button-color);
  background-color: #f4f8fb;
  color: black;
  font-size: 1rem;
}

.gestisci-prodotto ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox label {
  margin-left: 10px;
  margin-right: 10px;
}
.order {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  background-color: var(--filter-form-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  border: none;
  padding: 1rem;
}

.order-data {
  text-align: left;
  flex: 1;
}

.order-img-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 0.5%;
}
.img-logo {
  height: 50%;
  width: 30%;
  padding: 0.5%;
}
.progress-container {
  display: inline;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}
.track-img-icon{
  width: 8%;
  height: 8%;
  margin-bottom: 5%;
}
.order-progress {
  padding: 10px;
  color:#0f2f75;
  width: 60%;
}
.order-details{
  margin: 40px auto;
  background-color: var(--filter-form-color);
  border-radius: 15px;
  max-width: 500px;
  padding-bottom: 2%;
}

body > main > section > form {
  display: flex;
  flex-direction: column; /* Puoi mantenere la disposizione a colonna se vuoi */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
}

body > main > section > form > article {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  margin: 10px; 
}

body > main > section > form > article {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  margin: 2%; 
  border-style: solid;
  border-color: #102f75;
  padding: 10px;
  border-radius: 10px;
  width: auto;
}

body > main > section > form > article label {
  margin-left: 10px; 
  
}

@media screen and (min-width: 300px) {
  .img-logo {
    height: 30%;
    width: 10%;
    padding: 0.5%;
  }
}
@media screen and (min-width: 1024px) {
  body > header {
    height: 6%;
  }

  body > main > section > ul > li {
    width: 12%;
    margin-bottom: 30px;
    margin-right: 3%;
  }

  body > main > section > form > li {
    width: 80%;
    margin-bottom: 1%;
    margin-right: 1%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  body > main > section > article > input[type="button"] {
    font-size: 12px;
  }

  .button {
    width: min-content;
    min-width: 60px;
  }

  .filter-form {
    width: 20%;
  }
  .img-logo {
    height: 20%;
    width: 5%;
    padding: 0.5%;
  }
  
}
