* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #d6d4d4;
}

body>header>nav.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 0%;
}

body>header>nav>img.logo {
    width: 25%;
    margin-top: 2%;
}

body>header>nav>img.list-menù {
    width: 5%;
}

body>header>nav>img.shopping-cart {
    width: 5%;
}

body>main>section>h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #35a9df;
    margin: 2%;
}
body>main>section>article>h2 {
    text-align: center;
    margin: 2%;
    font-size: small;
}


body>main>section>article>input[type="button"] {
    font-family: 'Arial', Courier, monospace;
    background-color: #0f2f75;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    font-size: 14px;
    margin: 2% 1px;
    cursor: pointer;
    border-radius: 20px;
}

body>main>section>article>input[type="button"]:hover {
    background-color: #36a8df;
}

body>main>section>img {
    width: 100%;
}

body>main>section {
    text-align: center;
}

body>main>section>article {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0% 10px 10px 0%;
    width: 30%;
}

body>footer {
    text-align: center;
    background-color: #f5f6fa;
}

body>footer p {
    display: inline-flex;
    align-items: center;
}

body>footer img {
    width: 5%;
}

@media screen and (min-width:1024px) {
    body>main>section>article {
        width: 12%;
    }
}